body{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: hsl(214, 47%, 23%);
    padding: 8%;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
header{
    padding: 3% 5% 3% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-color: hsl(217, 16%, 45%);
    border-width: 2px;
    border-style:solid;
    border-radius: 5px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonAgain{
    position: absolute;
    bottom: 140px;
}
.jugadas > p{
    line-height: 17px;
    margin: 0;
    font-weight: 700;
}
.score{
    background-color: white;
    width: 70px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5px;
}
.letraScore{
    margin: 0;
    color: black;
}
.numScore{
    margin: 0;
    color: black;
    font-weight: 900;
    font-size: 40px;
}
.juego{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circuloBlanco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    
}
img{
    width: 35px;
    height: 35px;
}
.result{
    position: absolute;
    bottom: 200px;
    font-size: 30px;
    animation: fadeOut 3s;
}
.circuloAzul, .circuloNaranja, .circuloRojo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(160deg, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100%);
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.circuloAzul:active, .circuloNaranja:active, .circuloRojo:active{
    transform: scale(0.80);
}
.circuloNaranja{
    background-image: linear-gradient(160deg, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%);
}
.circuloRojo{
    background-image: linear-gradient(hsl(349, 71%, 52%)0%, hsl(349, 70%, 56%)100%);
}
.papelTijeras{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-around;
}
.botonReglas{
    background: none;
    border-style:solid;
    border-width: 1px;
    border-color: white;
    padding: 2px 24px 2px 24px;
    border-radius: 7px;
    color: white;
    font-weight: lighter;
}
.botonReglas:active{
    transform: scale(0.90);
}
.moveBottomLeft {
	-webkit-animation: slide-fwd-bl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-bl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.moveBottomRight {
	-webkit-animation: slide-fwd-br 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-br 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.moveTopLeft {
	-webkit-animation: slide-fwd-tl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-tl 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.moveTopRight{
	-webkit-animation: slide-fwd-tr 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-tr 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.top{
	-webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.moveBottomLeftDraw{
	-webkit-animation: slide-fwd-bl-draw 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-bl-draw 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.moveBottomRightDraw{
	-webkit-animation: slide-fwd-br-draw 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-br-draw 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade{
    animation: fade .2s;
}
@keyframes fade {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-8-26 12:56:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes slide-fwd-bl {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(80px) translateX(-50px);
              transform: translateZ(130px) translateY(80px) translateX(-50px);
    }
  }
  @keyframes slide-fwd-bl {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(80px) translateX(-30px);
              transform: translateZ(130px) translateY(80px) translateX(-30px);
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2022-8-26 13:14:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-br {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(80px) translateX(50px);
              transform: translateZ(130px) translateY(80px) translateX(50px);
    }
  }
  @keyframes slide-fwd-br {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(80px) translateX(30px);
              transform: translateZ(130px) translateY(80px) translateX(30px);
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-8-26 13:26:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-tl {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(-80px) translateX(-50px);
              transform: translateZ(130px) translateY(-80px) translateX(-50px);
    }
  }
  @keyframes slide-fwd-tl {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(-65px) translateX(-109px);
              transform: translateZ(130px) translateY(-65px) translateX(-109px);
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-8-26 13:36:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-tr {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(-80px) translateX(50px);
              transform: translateZ(130px) translateY(-80px) translateX(50px);
    }
  }
  @keyframes slide-fwd-tr {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(-65px) translateX(109px);
              transform: translateZ(130px) translateY(-65px) translateX(109px);
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-8-29 10:20:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateY(-100px);
              transform: translateZ(160px) translateY(-100px);
    }
  }
  @keyframes slide-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateY(-100px);
              transform: translateZ(160px) translateY(-100px);
    }
  }
  @-webkit-keyframes slide-fwd-bl-draw {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(150px) translateX(50px);
              transform: translateZ(130px) translateY(150px) translateX(50px);
    }
  }
  @keyframes slide-fwd-bl-draw {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(46px) translateX(-73px);
              transform: translateZ(130px) translateY(46px) translateX(-73px);
    }
  }
  @-webkit-keyframes slide-fwd-br-draw {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(-150px) translateX(-50px);
              transform: translateZ(130px) translateY(-150px) translateX(-50px);
    }
  }
  @keyframes slide-fwd-br-draw {
    0% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(130px) translateY(46px) translateX(83px);
              transform: translateZ(130px) translateY(46px) translateX(83px);
    }
  }
  

 @media (min-width: 375px) { 
    header{
        height: 90px;
        width: 500px;
        margin-bottom: 50px;
    }
  }
  @media (min-width: 768px) { 
    .circuloAzul, .circuloNaranja, .circuloRojo{
        width: 150px;
        height: 150px;
    }
    .circuloBlanco{
        width: 110px;
        height: 110px;
    }
    img{
        width: 50px;
        height: 50px;
    }
    .juego{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .result{
        bottom: 100px;
    }
    footer{
        width: 100%;
        align-items: flex-end;
    }
    @-webkit-keyframes slide-fwd-br {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(80px) translateX(50px);
                  transform: translateZ(130px) translateY(80px) translateX(50px);
        }
      }
      @keyframes slide-fwd-br {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(80px) translateX(25px);
                  transform: translateZ(130px) translateY(80px) translateX(25px);
        }
      }
      /* ----------------------------------------------
     * Generated by Animista on 2022-8-26 13:26:33
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
    
    /**
     * ----------------------------------------
     * animation slide-fwd-tl
     * ----------------------------------------
     */
    @-webkit-keyframes slide-fwd-tl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(-80px) translateX(-50px);
                  transform: translateZ(130px) translateY(-80px) translateX(-50px);
        }
      }
      @keyframes slide-fwd-tl {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(-120px) translateX(-135px);
                  transform: translateZ(130px) translateY(-120px) translateX(-135px);
        }
      }
      /* ----------------------------------------------
     * Generated by Animista on 2022-8-26 13:36:1
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
    
    /**
     * ----------------------------------------
     * animation slide-fwd-tr
     * ----------------------------------------
     */
    @-webkit-keyframes slide-fwd-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(-80px) translateX(50px);
                  transform: translateZ(130px) translateY(-80px) translateX(50px);
        }
      }
      @keyframes slide-fwd-tr {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(-120px) translateX(135px);
                  transform: translateZ(130px) translateY(-120px) translateX(135px);
        }
      }
      /* ----------------------------------------------
     * Generated by Animista on 2022-8-29 10:20:23
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
    
    /**
     * ----------------------------------------
     * animation slide-fwd-top
     * ----------------------------------------
     */
    @-webkit-keyframes slide-fwd-top {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
        }
        100% {
          -webkit-transform: translateZ(160px) translateY(-100px);
                  transform: translateZ(160px) translateY(-100px);
        }
      }
      @keyframes slide-fwd-top {
        0% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
        }
        100% {
          -webkit-transform: translateZ(160px) translateY(-100px);
                  transform: translateZ(160px) translateY(-100px);
        }
      }
      @-webkit-keyframes slide-fwd-bl-draw {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(150px) translateX(50px);
                  transform: translateZ(130px) translateY(150px) translateX(50px);
        }
      }
      @keyframes slide-fwd-bl-draw {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(46px) translateX(-110px);
                  transform: translateZ(130px) translateY(46px) translateX(-110px);
        }
      }
      @-webkit-keyframes slide-fwd-br-draw {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(-150px) translateX(-50px);
                  transform: translateZ(130px) translateY(-150px) translateX(-50px);
        }
      }
      @keyframes slide-fwd-br-draw {
        0% {
          -webkit-transform: translateZ(0) translateY(0) translateX(0);
                  transform: translateZ(0) translateY(0) translateX(0);
        }
        100% {
          -webkit-transform: translateZ(130px) translateY(46px) translateX(110px);
                  transform: translateZ(130px) translateY(46px) translateX(110px);
        }
      }
   }

  // Large devices (desktops, 992px and up)
  //@media (min-width: 992px) { ... }
  
  // X-Large devices (large desktops, 1200px and up)
  //@media (min-width: 1200px) { ... }